.hole-card {
  margin: 0px 0px;
  border-radius: 18px;
  overflow: hidden;
}
.works-detail {
  background: #FFFFFF;
  padding: 28px 0 0 28px;
  //border-radius: 10px;

  .parent {
    display: flex;
    flex-flow: row;

    .stable {
      width: 723px;
    }

    .change {
      flex: 1;
      min-width: 350px;
      height: 628px;
      padding-left: 29px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  .works-detail-row1 {
    height: 41px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 7px;
  }

  .works-detail-row2 {
    height: 45px;
    font-size: 14px;
    margin-bottom: 11px;
  }

  .works-detail-row3 {
    width: 100%;
    min-height: 525px;
  }
  .works-offline {
    width: 100%;
    min-height: 525px;
    background: #194142;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .works-offline-content{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      color: #999999;
    }
  }

  .works-star {
    width: 198px;
    height: 72px;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    background: #FFF2D2;
    opacity: 62%;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 15px;
    margin-bottom: 11px;
  }

  .col-row1 {
    margin-top: 17px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .col-row2 {
    overflow: auto;
    height: 120px;
    color: #999999;
    font-size: 14px;
    padding-right: 40px;
    margin-bottom: 28px;
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
  }

  .col-row2::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  .col-row2::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    background: #c0bebe;
  }

  .col-row2::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 5px;
    background: #EDEDED;
  }

  .col-row3 {
    padding-right: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .col-row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:29px;
  }

  .works-detail-row4 {
    margin-top: 40px;
    border-top: 1px solid #F0F0F0;
    margin-right: 32px;
    font-size: 14px;
    height: 56px;
    color: #999999;

    .row4-col {
      border-left: 1px solid #CDCFD7;
      padding-left: 29px;



      .row4-col-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .row4-col-div-img {
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
      }
    }
  }

  .user-margin {
    margin-right: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.works-detail-row5 {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-flow: row;

  .row-comment {
    font-size: 20px;
    color: #999999;
    margin-bottom: 18px;

    .row-comment-div {
      color: #444444;
    }
  }

  .reply {
    margin-left: 88px;
    background: #F5FAFB;
  }

  .works-detail-row5-stable {
    width: 910px;
  }

  .works-detail-row5-change {
    padding-left: 24px;
    flex: 1;
  }
}

.recommend-item {
  height: 91px;
  display: flex;
  align-items: center;
  flex-flow: row;
  margin-bottom: 11px;

  .recommend-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px 5px 5px 20px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
  }

  .recommend-item-right {
    height: 91px;
    flex: 1;
    padding: 9px 22px 9px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .recommend-item-right-title {
      word-break: break-all;
      word-wrap: break-word;
      padding-right: 5px;
      font-size: 14px;
      color: #444444;
    }
  }
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #999999;
  cursor: pointer;
  margin-left: 88px;
  padding: 10px 24px;
  background: #F5FAFB;
}

.notification-content-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.delete-modal-title {
  width: 100%;
  color: #444444;
  font-size: 16px;
  text-align: center;
}

.delete-modal-content {
  width: 100%;
  color: #444444;
  font-size: 15px;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
  padding: 30px 0 40px 0;
}

.delete-modal-parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .delete-modal-parent-button {
    width: 126px;
    height: 38px;
    border-radius: 38px;
  }

}
