
.personal-center-root{
  padding: 0px 0px 40px 0px;
  .personal-center-content{
    display: flex;
    .left{
      padding: 23px 24px;
      width: 230px;
      height: 320px;
      background-color: #FFFFFF;
      border: 1px solid #EEEEEE;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .head-portrait{
        width: 85px;
        height: 85px;
        border-radius: 42.5px;
      }
      .name{
        margin-top: 20px;
        text-align: center;
        color: #444444;
        font-weight: bold;
        font-size: 14px;
      }
      .divider{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #F0F0F0;
      }
      .works{
        width: 186px;
        height: 52px;
        border-radius: 26px;
        font-size:15px;
        display: flex;
        color: #999999;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        .icon{
          margin-right: 12px;
          width: 18px;
          height: 18px;
        }
      }
      .select{
        background-color:#EEF8FB;
        color: #54C3D4;
      }

    }
    .right{
      margin-left: 34px;
      flex: 1;
      border-radius: 18px;
      overflow: hidden;
      background-color: #FFFFFF;
      height: 868px;
      position: relative;
    }

  }

}
