
.course-root{
  padding: 0px 0px 40px 0px;
  .course-class-root{

    background-color: #FFFFFF;
    border-radius: 18px;
    min-height:calc(100vh - 146px);

    .course-class-header{
      padding: 44px 0px 0px 45px;
      display: flex;
      position: relative;

      .left{
        width: 304px;
        height: 183px;
        //background-color: #FFDC4F;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        .cover{
          width: 100%;
          //height:100%;
        }
        .gray-bg{
          position: absolute;
          width: 100%;
          height:100%;
          background-color: rgba(0,0,0,0.5);
        }
        .play-img{
          position: absolute;
          top: 50%;
          margin-top: -42px;
          width: 84px;
          height:84px;
          cursor: pointer;
        }
      }
      .center{
        margin-left: 24px;
        margin-right: 330px;
        flex: 1;
        //background-color: #54C3D4;
        position: relative;
        .course-name{
          margin-top: 13px;
          color: #444444;
          font-size: 16px;
        }
        .course-time{
          margin-top: 18px;
          color: #666666;
          font-size: 14px;

        }
        .course-title{
          margin-top: 10px;
          color: #666666;
          font-size: 14px;
        }
        .course-content{
          margin-top: 5px;
          color: #999999;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 44px;
          //background-color: #54C3D4;
          position: relative;
        }
        .courseware{
          position:absolute;
          bottom: -3px;
          right: 0px;
          color: #54C3D4;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .student-leave-message{
        bottom:0px;
        right: 45px;
        position: absolute;
        border-radius: 16px;
        height: 32px;
        width: 98px;
        padding: 0px 0px;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }

    }
    .divider-line{
      margin: 34px 45px 0px;
      background-color:#EDEDED;
      height: 1px;
    }
    .student-list-title{
      margin-top: 19px;
      padding:0px 45px;
      display: flex;
      .img-tip{
        width: 17px;
        height: 21px;
      }
      .title{
        flex: 1;
        margin-left: 6px;
        color: #666666;
        font-size: 16px;
      }
      .check-online{
        color: #54C3D4;
        font-size:14px;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .student-list{
      margin: 30px 45px 0px 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .student-list-row{
        margin-right: 31.5px;
        width: 172px;
        height: 236px;
        //background-color: #EEEEEE;

        .top{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 149px;
          border: #dcdcdc solid 1px;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          .cover{
            position: absolute;
            height: 100%;
          }
          .no-public-state{
            color: #444444;
            font-size: 14px;
            z-index: 1;
          }
          .public-state{
            color: #999999;
            font-size: 14px;
            z-index: 1;
          }
          .cover-mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.6);
          }
          .check-works{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background-color:#54C3D4;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
          }
          .comments{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 52px;
            height: 22px;
            background-color: rgba(0,0,0,0.4);
            display: flex;
            align-items: center;
            cursor: pointer;
            .comments-img{
              margin-left: 6px;
              margin-right: 6px;
              width: 13px;
              height: 15.3px;
            }
            .comments-title{
              color: #FFFFFF;
              font-size: 12px;
              line-height: 22px;
            }
          }

        }
        .bottom{
          margin-top: 9px;
          display: flex;
          align-items: center;
          //flex-wrap: wrap;
          position: relative;

          .head-portrait{
            width:30px;
            height: 30px;
            border-radius: 30px;
          }
          .name{
            margin-left: 6px;
            margin-right: 6px;
            //max-width:135px;
            color: #444444;
            font-size: 14px;
            line-height: 35px;
            display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
          }
          .works-state{
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .warning-tip{
              width: 15px;
              height: 15px;
              margin-right: 4px;
            }
            .public{
              font-size: 14px;
              color: #666666;
              min-width: 30px;
            }
            .no-public{
              font-size: 14px;
              color: #FF8548;
              min-width: 42px;
            }
          }

        }

      }
      .student-list-row:nth-child(6n){
        margin-right: 0px;
      };
    }
    //.show-background{
    //  z-index: 99;
    //  position: fixed;
    //  top:0;
    //  left: 0;
    //  background: rgba(0, 0, 0, 0.4);
    //  width: 100%;
    //  height: 100%;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  .show-video-content{
    //    width: 912px;
    //    background: rgba(0, 0, 0, 0);
    //    .show-close-div{
    //      display: flex;
    //      justify-content: flex-end;
    //      align-items: center;
    //      .show-colse-icon{
    //        font-size: 32px;
    //        color: #FFFFFF ;
    //        opacity: 0.92;
    //      }
    //    }
    //
    //  }
    //
    //}
    .show-background {
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .show-video-content {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
      }

    }

  }
}
