
.simple-root
{
  width: 386px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .simple-title{
    margin-top: 24px;
    font-size: 16px;
    color: #444444;
  }
  .simple-content{
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    color: #444444;
    font-size: 14px;
    //text-align: center;
  }
  .simple-actions{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .cancel{
      margin-right:26px;
      width: 126px;
      height: 38px;
      border-radius: 18px;
      border-color: #54C3D4;
      color: #54C3D4;
    }
    .complete{
      width: 126px;
      height: 38px;
      border-radius: 18px;
    }
  }

}
