
.my-works-root{
  .header-bar{
    margin-top: 15px;
    display: flex;
    height: 52px;
    border-radius: 5px;
    background-color: #FFFFFF;
    .item{
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title{
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        color:#999999;
      }
      .select{
        color:#54C3D4;
      }
      .bottom-line{
        width: 100%;
        height: 3px;
        background-color: #54C3D4;
      }
    }


  }
  .public-list-root{
    .top{
      padding-left: 32px;
      padding-right: 32px;
      margin-top:24px;
      display: flex;
      flex-wrap: wrap;
      .public-list-row{
        width: 220px;
        height: 318px;
        border-radius: 5px;
        border: #EEEEEE solid 1px;
        overflow: hidden;
        margin-right: 24px;
        margin-bottom: 24px;
        background-color: #FFFFFF;

        display: flex;
        flex-direction: column;

        .coverUrl{
          height: 159px;
          cursor: pointer;
          -moz-user-select: none;
          -khtml-user-select: none;
          user-select: none;
        }
        .name{
          margin: 16px 16px 0px 16px;
          font-size: 14px;
          font-weight: bold;
          color: #444444;
          display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        }
        .update-time{
          margin: 10px 0px 0px 16px;
          font-size: 13px;
          color: #999999;
        }
        .look-like{
          display: flex;
          align-items: center;
          color:#999999;
          font-size: 13px;
          margin-top: 14px;

          .look-bg{
            //cursor: pointer;
            //-moz-user-select: none;
            //-khtml-user-select: none;
            //user-select: none;
            //background-color: #FFDC4F;
            margin-left: 16px;
            .look-img{
              margin-right: 6px;
              width: 17px;
              height: 12px;
            }
          }
          .like-bg{
            //cursor: pointer;
            //-moz-user-select: none;
            //-khtml-user-select: none;
            //user-select: none;
            //background-color: red;
            margin-left: 18px;
            .like-img{
              margin-right: 6px;
              width: 14px;
              height: 14px;
            }
          }
        }
        .bottom{
          margin-top: 16px;
          height: 44px;
          border-top: 1px solid #F0F0F0 ;
          display: flex;
          align-items: center;
          .edit{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            .edit-img{
              width: 14px;
              height: 14px;
            }
            .edit-title{
              margin-left: 6px;
              color: #999999;
              font-size: 13px;
              font-weight: bold;
            }
          }
          .divider{
            height: 19px;
            border-left: 1px solid #F0F0F0;
          }

        }

      }
      .public-list-row:nth-child(4n) {
        margin-right: 0px;
      }
    }
    .pagination{
      position: absolute;
      bottom: 50px;
      left: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .no-public-list-root{
    .top{
      margin-top:24px;
      padding-left: 32px;
      padding-right: 32px;
      display: flex;
      flex-wrap: wrap;
      .public-list-row{
        width: 220px;
        height: 286px;
        border-radius: 5px;
        border: #EEEEEE solid 1px;
        overflow: hidden;
        margin-right: 24px;
        margin-bottom: 24px;
        background-color: #FFFFFF;

        display: flex;
        flex-direction: column;

        .coverUrl{
          height: 159px;
          cursor: pointer;
          -moz-user-select: none;
          -khtml-user-select: none;
          user-select: none;
        }
        .name{
          margin: 16px 16px 0px 16px;
          font-size: 14px;
          font-weight: bold;
          color: #444444;
          display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        }
        .update-time{
          margin: 10px 0px 0px 16px;
          font-size: 13px;
          color: #999999;
        }
        .bottom{
          margin-top: 16px;
          height: 44px;
          border-top: 1px solid #F0F0F0 ;
          display: flex;
          align-items: center;
          .edit{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            .edit-img{
              width: 14px;
              height: 14px;
            }
            .edit-title{
              margin-left: 6px;
              color: #999999;
              font-size: 13px;
              font-weight: bold;
            }
          }
          .divider{
            height: 19px;
            border-left: 1px solid #F0F0F0;
          }

        }

      }
      .public-list-row:nth-child(4n) {
        margin-right: 0px;
      }
    }
    .pagination{
      position: absolute;
      bottom: 88px;
      left: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

