.works-root{
  padding: 0px 0px 40px 0px;

  .student-works-root {
    padding: 25px 45px 0px 45px;
    background-color: #FFFFFF;
    border-radius: 18px;
    min-height:calc(100vh - 146px);
    .student-works-title{
      display: flex;
      .img-tip{
        width: 17px;
        height: 21px;
      }
      .title{
        flex: 1;
        margin-left: 6px;
        color: #666666;
        font-size: 16px;
      }
      .submitted-quantity{
        color: #666666;
        font-size:14px;
      }

    }
    .student-list{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .student-list-row{
        margin-right: 31.5px;
        width: 172px;
        height: 236px;

        .top{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 149px;
          border: #dcdcdc solid 1px;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          .cover{
            position: absolute;
            //width: 100%;
            height: 100%;
          }
          .no-public-state{
            color: #444444;
            font-size: 14px;
            z-index: 1;
          }
          .public-state{
            color: #999999;
            font-size: 14px;
            z-index: 1;
          }
          .cover-mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.6);
          }
          .check-works{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background-color:#54C3D4;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
          }
          .comments{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 52px;
            height: 22px;
            background-color: rgba(0,0,0,0.4);
            display: flex;
            align-items: center;
            cursor: pointer;
            .comments-img{
              margin-left: 6px;
              margin-right: 6px;
              width: 13px;
              height: 15.3px;
            }
            .comments-title{
              color: #FFFFFF;
              font-size: 12px;
              line-height: 22px;
            }
          }

        }
        .bottom{
          margin-top: 9px;
          display: flex;
          align-items: center;
          //flex-wrap: wrap;
          position: relative;

          .head-portrait{
            width:30px;
            height: 30px;
            border-radius: 30px;
          }
          .name{
            margin-left: 6px;
            margin-right: 6px;
            //max-width:100px;
            color: #444444;
            font-size: 14px;
            line-height: 35px;
            display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
          }
          .works-state{
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .warning-tip{
              width: 15px;
              height: 15px;
              margin-right: 4px;
            }
            .public{
              font-size: 14px;
              color: #666666;
              min-width: 30px;
            }
            .no-public{
              font-size: 14px;
              color: #FF8548;
              min-width: 42px;
            }
          }

        }

      }
      .student-list-row:nth-child(6n){
        margin-right: 0px;
      };
    }

  }

}

