
.classroom-empty{
  width: 100%;
  //min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .classroom-empty-img{
    margin-top: 244px;
    width: 212px;
    height: 170px;
  }
  .classroom-empty-title{
    margin-top: 24px;
    margin-bottom: 244px;
    //margin-bottom: 380px;
    color:#999999;
    font-weight: bold;
  }
}
