
.publish-works {
  margin: 0px 0px;
  border-radius: 18px;
  overflow: hidden;
  .ant-card-body{
    padding: 28px 40px 28px 45px;
  }
  .publish-parent {
    width: 100%;
    display: flex;
    padding-bottom: 51px;
    flex-flow: row;
    .publish-stable {
      width: 510px;
      padding: 53px 0 0 22px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .publish-stable-upload {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 38px;
        border-radius: 38px;
        background: #EEF8FB;
        color: #54C3D4;
        font-size: 16px;
        border: 1px solid #54C3D4;
        padding: 8px 35px;
        cursor: pointer;
        margin: 27px 0;
      }

      .publish-cover {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .publish-cover-img {
          width: 150px;
          height: 120px;
          margin: 5px 5px;
          cursor: pointer;
          border-radius:5px;
        }
      }

    }

    .publish-change {
      flex: 1;

      .publish-title {
        font-size: 24px;
        font-weight: bold;
        color: #444444;
      }
      .publish-works-row {

        padding-top: 24px;
        display: flex;
        justify-content: flex-start;

        .red-tip{
          margin-top: 6px;
          margin-right: 4px;
          width: 10px;
          height: 10px;
        }
        .publish-works-left {
          min-width: 88px;
          font-size: 16px;
          color: #555555;
        }

        .publish-works-right{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          height: 136px;
          min-height: 136px;
          max-height: 136px;
          .position-icon {
            position: absolute;
            color: #2DBB55;
            right: -3px;
            top: -3px;

          }
        }
        .publish-works-tags{
          width: 100%;
          //background-color: red;
          //margin-left: -10px;
          //margin-right: -20px;
          display: flex;
          flex-wrap: wrap;

          .position-icon {
            position: absolute;
            color: #2DBB55;
            right: -3px;
            top: -3px;

          }
        }
      }

    }

    .publish-code {
      display: flex;
      margin-top: 0px;
      justify-content: flex-end;
      align-items: center;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }
  }

  .row-col1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #54C3D4;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }

  .row-col2 {
    margin-left: 303px;
    width: 328px;
    height: 52px;
    font-size: 18px;
    border-radius: 52px;
  }
}
