
.account-settings-root{
  padding: 30px 63px 0px 45px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

  .base-infor{
    color: #444444;
    font-size: 16px;
    font-weight: bold;
  }
  .head{
    margin-top: 12px;
    display: flex;
    align-items: center;
    .head-title{
      color: #555555;
      font-size: 16px;
    }
    .head-img{
      margin-left: 16px;
      width: 66px;
      height: 66px;
      border-radius: 66px;
    }
    .upload{
      padding: 0 5px;
      height: 66px;
      //background-color: red;
      //display: flex;
      //margin-left: 10px;
      //margin-top: -2px;
      //align-self: flex-start;
      ////background-color: red;
      //cursor: pointer;
      //-moz-user-select: none;
      //-khtml-user-select: none;
      //user-select: none;
      //.edit{
      //  width: 15px;
      //  height: 15px;
      //  //background-color: #FFDC4F;
      //}
    }

  }
  .name{
    margin-top: 22px;
    display: flex;
    align-items: center;
    .name-title{
      color: #555555;
      font-size: 16px;
      margin-top: -1px;
    }
    .input{
      margin-left: 16px;
      width: 206px;
      height: 34px;
      line-height:34px;
      font-size: 14px;
    }
  }
  .save{
    margin-top: 90px;
    align-self: flex-end;
    width: 136px;
    height: 38px;
    border-radius: 19px;
  }

}
