
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width:1280px;
  background:  url('../../static/img/ic-login-bg.png')  no-repeat ;
  background-size:100% 100%;
  //position: relative;
  .bg{
    position: absolute;
    width: 100%;
    //height: 100vh;
    overflow: hidden;
  }
  .login-bg{
    width: 534px;
    height: 279px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    .login-title{
      margin-top:72px;
      font-size: 24px;
      font-weight: bold;
      color: #444444;
    }
    .weixin-login{
      margin-top:50px;
      width: 258px;
      height: 52px;
      border-radius: 26px;
      font-size: 18px;
    }
  }
  .login-iframe {
    padding-top: 40px;
    background-color: #FFFFFF;
    width: 520px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
