.management-root-bg{
  min-height:calc(100vh - 106px - 40px);
  background-color: #FFFFFF;
  border-radius: 18px;
  overflow: hidden;
}
.management-root {
  padding: 24px 0px 10px 0px;
  background-color: #FFFFFF;
  .header {
    margin-top: 0px;
    height: 52px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 52px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      margin-left: 45px;
      color: #999999;
      font-size: 16px;
      font-weight: bold;
    }
    .filter-input-box {
      .filter-input {
        width: 209px;
        height: 40px;
        background-color: #F6F6F6;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
      }
      .filter-seach-btn {
        margin-left: 14px;
        margin-right: 45px;
        color: #54C3D4;
        font-size: 16px;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        //background: url('../../static/img/search-btn.png') no-repeat;
        //background-size: 100% 100%;
      }
    }
  }
  .user-manage-course-bg{
    margin-top: 10px;
    //padding-bottom: 21px;
    //background-color: red;
    //border-top: 1px solid #EEEEEE;
    //border-radius: 18px;
    //overflow: hidden;
    position: relative;

    .user-manage-course-title {
      margin-left: 62px;
      margin-bottom: 15px;
      color: #444444;
      font-size: 16px;
      font-weight: bold;
    }
    .tips{
      position: absolute;
      top: 3px;
      left: 45px;
      width: 3px;
      height: 18px;
      background-color: #54C3D4;
    }
    .check-more-course{
      position: absolute;
      top: 1px;
      right: 47px;
      height: 22px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      color: #54C3D4;
      //background-color: #54C3D4;
    }

  }
}
.search-list-bg{
  padding-top: 34px;
  border-radius: 18px;
  background-color: #FFFFFF;

  .pagination{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    //background-color: #54C3D4;
    .pagination-p{
      padding-bottom: 34px;
      //background-color: red;
    }
  }

}

