
.morecourse-root{

  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  border-radius: 18px;
  overflow: hidden;
  min-height:calc(100vh - 106px - 40px);

  .header{
    margin-top: 34px;
    margin-left: 45px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444444;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    .back-img{
      margin-right: 10px;
      width: 9px;
      height: 15px;
    }
  }
  .list-bg{
    background-color: #FFFFFF;

    .pagination{
      padding-top: 10px;
      display: flex;
      justify-content: center;
      //background-color: #54C3D4;
      .pagination-p{
        padding-bottom: 34px;
        //background-color: red;
      }
    }
  }

}
