
.user-manage-course {
  margin-left: 45px;
  margin-right: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //padding-bottom: 30px;
  .course {
    margin-right: 31px;
    margin-bottom: 24px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
    width: 274px;
    height: 203px;
    cursor: pointer;
    .top{
      position: relative;
      width: 274px;
      height: 159px;
      overflow: hidden;
      .course-img {
        width: 100%;
        //height: 100%;
        //height: 159px;
      }
      .issue{
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px  4px 0px 3px;
        background-color: rgba(0,0,0,0.4);
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
      }
      .coursePackageName{
        position: absolute;
        bottom: 0px;
        color: #FFFFFF;
        font-size: 14px;
        width: 100%;
        height: 24px;
        line-height: 24px;
        background-color: rgba(0,0,0,0.4);
        text-align: center;
      }
    }
    .bottom{
      color: #444444;
      font-size: 14px;
      font-weight: bold;
      height: 44px;
      background-color: #FFFFFF;
      line-height: 44px;
      text-align: center;
    }


  }
  .course:nth-child(4n) {
    margin-right: 0px;
  }
}
