
@header-height:106px;

.header-root{
  width: 100%;
  min-width:1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: #54C3D4;
  .header{
    height: @header-height;
    width:1280px;
    display: flex;
    justify-content:space-between;
    color: white;
    .left{
      display: flex;
      .icon-logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        //background-color: red;
        .icon-img{
          margin-top: 5px;
          margin-left: 0px;
          width: 120.57px;
          //height: 32px;
        }
        .icon-title{
          margin-left: 10px;
          font-size: 24px;
          font-weight: bold;
        }
      }
      .course{
        display: flex;
        align-items: center;
        margin-left: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        //background-color: #F86E6E;
        //transition: all 0.3s;
        &:hover {
          //background: #018EA4;
          //transform: scale(1.1);
        }
      }
      .course-context-bg1{
        display: flex;
        align-items: center;
        margin-left: 30px;
        font-size: 18px;
        span{
          padding-right: 5px;
        }
      }
      .course-context-bg2{
        display: flex;
        align-items: center;
        font-size: 18px;
        .course-context-first{
          margin-left: 30px;
          cursor: pointer;
          span{
            margin-right: 5px;
          }
        }
        .arrow{
          margin-left:5px;
          margin-right:5px;
          margin-top:-4px;
        }
        .course-context-second{
          margin-left: 5px;
          span{
            margin-right: 5px;
          }
        }
        .course-context-third{
          margin-left: 5px;
          span{
            margin-right: 5px;
          }
        }
      }
      .course-context-bg3{
        display: flex;
        align-items: center;
        font-size: 18px;
        .course-context-first{
          margin-left: 30px;
          cursor: pointer;
          span{
            margin-right: 5px;
          }
        }
        .arrow{
          margin-left:5px;
          margin-right:5px;
          margin-top:-4px;
        }
        .course-context-second{
          margin-left: 5px;
          cursor: pointer;
          span{
            margin-right: 5px;
          }
        }
        .course-context-third{
          margin-left: 5px;
          span{
            margin-right: 5px;
          }
        }
      }


    }
    .course-home-bg{
      display: flex;
      align-items: center;
      .course-home{
        margin-left: 15px;
        padding-left: 15px;
        //padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        //transition: all 0.3s;
        &:hover {
          //background: #018EA4;
          //transform: scale(1.1);
        }
      }
      .search-bg{
        display: flex;
        align-items: center;
        margin-left: 40px;
        width: 184px;
        height: 34px;
        background-color: #FFFFFF;
        border-radius: 5px;
        .search-img-bg{
          height: 34px;
          display: flex;
          align-items: center;
          cursor: pointer;
          //background-color: #F86E6E;
          .search-img{
            margin-right: 8px;
            width: 14px;
            height: 14px;
          }
          .search-line{
            margin-right: 8px;
            width: 1px;
            height: 10px;
            background-color:#EDEDED;
          }
        }
        .search-input{
          flex: 1;
          height: 34px;
          background-color: #FFFFFF;
          border-color: transparent;
        }
        .ant-input:focus {
          box-shadow: 0 0 0 2px rgba(84, 195, 212, 0);
        }
      }

    }
    .right{
      display: flex;
      height: 100%;
      align-items: center;
      //background-color: #000000;
      .creation{
        width: 92px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #FF8627;
        margin-right: 15px;
        border-radius: 5px;
        overflow: hidden;
        font-size: 18px;
        //font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
      .head-portrait{
        width: 34px;
        height: 34px;
        border-radius: 34px;
      }
      .logout{
        cursor: pointer;
        .logout-icon{
          font-size: 16px;
        }
        .logout-title{
          //font-weight: bold;
          font-size: 18px;
          margin-left: 6px;
        }
      }
    }
    .common-center-bg{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
      &:hover {
        //background: #018EA4;
      }
    }
    .active-hover{
      //background: #018EA4;
    }

  }

}
