
.message-root
{
  padding: 0px 0px 40px 0px;
  //background-color: #54C3D4;

  .message-body-root
  {
    border-radius: 18px;
    background-color: #FFFFFF;
    min-height:calc(100vh - 146px);

    .header{
      display: flex;
      padding: 34px 34px 0px 34px;
      //background-color: #F86E6E;
      align-items: center;
      .first{
        width: 120px;
        font-size: 14px;
        color: #444444;
      }
      .second{
        margin-left: 9px;
        font-size: 14px;
        color: #666666;
      }
      .third{
        flex: 1;
        text-align: center;
        font-size: 16px;
        color: #444444;
        font-weight: bold;
      }
      .four{
        font-size: 14px;
        color: #666666;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        .sort{
          margin-left: 6px;
          width: 12px;
          height: 14px;
        }
      }
    }
    .message-list{
      padding: 0px 34px 0px 34px;
      .message-list-row {
        .top {
          display: flex;
          align-items: center;
          min-height: 132px;
          //background-color: #F86E6E;
          .check {
            //margin-top: 34px;
            margin-left: 26px;
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
          .student-infor {
            margin-top: 21px;
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            //background-color: #F86E6E;
            .head-portrait {
              width: 45px;
              height: 45px;
              border-radius: 22.5px;
            }
            .name {
              margin-top: 4px;
              width:78px;
              color: #666666;
              font-size: 13px;
              text-align: center;
              display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
            }
          }
          .message-content {
            flex: 1;
            margin: 0px 60px 0px 41px;
            padding: 34px 0px 34px 0px;
            .content-unfold{
              color: #444444;
              font-size: 14px;
            }
            .content-fold{
              color: #444444;
              font-size: 14px;
              max-height: 62px;
              overflow: hidden;
            }
            .unfold{
              margin-top: 16px;
              text-align: right;
              .touch-content{
                padding-right: 3px;
                color: #54C3D4;
                font-size: 14px;
                cursor: pointer;
                -moz-user-select: none;
                -khtml-user-select: none;
                user-select: none;
                .img{
                  margin-left: 4px;
                  width: 11px;
                  height: 6px;
                }
              }
            }
          }
          .time {
            //margin-top: 34px;
            color: #444444;
            font-size: 14px;
          }

        }
        .bottom {
          //margin-top: 24px;
          height: 1px;
          border-bottom: 1px solid #EDEDED;
          width: 100%;
        }
      }
      .pagination{
        margin-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        //background-color: #54C3D4;
      }
    }

  }
}
