.root-bg{
  background-color: rgba(241, 248, 249, 0.73);
  //.content{
  //  margin:0px auto;
  //  width:1280px;
  //  background-color: #ffffff;
  //}
  //.header-home{
  //  background:#54C3D4 ;
  //}
  //.link-user{
  //  color: #fff;
  //  font-size: 14px;
  //}
  //.creation-user{
  //  padding: 5px 10px;
  //  width: 66px;
  //  height: 26px;
  //  background: #FFDC4F ;
  //  border-radius: 5px;
  //  color: #fff;
  //  font-size: 14px;
  //}
  //.head-portrait{
  //  padding: 5px 10px;
  //  width: 33px;
  //  height: 33px;
  //  background: #FFDC4F ;
  //  border-radius: 5px;
  //  color: #fff;
  //  font-size: 14px;
  //
  //}

}
