
.ant-modal-content{
  border-radius:10px;
}
.comments-root
{
  width: 646px;
  height: 424px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    padding-top: 24px;
    font-size: 16px;
    color: #444444;
  }
  .name{
    position: absolute;
    top: 25px;
    left: 28px;
    color: #999999;
    font-size: 14px;
    max-width:126px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
  }
  .close{
    position: absolute;
    top: 24px;
    right: 28px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .textArea{
    margin-top: 18px;
    width: 590px;
    height: 272px;
    min-height: 272px;
    max-height: 272px;
    background-color:#F9F9F9;
    border:1px solid #EFEFEF;
  }
  .textArea::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  .textArea::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    background: #c0bebe;
  }

  .textArea::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 5px;
    background: #EDEDED;
  }
  .text-lenght-tip{
    position: absolute;
    top: 313px;
    right: 36px;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
  }
  .complete{
    margin-top: 24px;
    width: 126px;
    height: 38px;
    border-radius: 18px;
  }
}
