
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width:1280px;
  background:  url('../../static/img/ic-login-bg.png')  no-repeat ;
  background-size:100% 100%;

  .login-center{
    width: 490px;
    height: 480px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    .login-iframe {
      padding-top: 70px;
      background-color: #FFFFFF;
      width: 490px;
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-title{
      position: absolute;
      top: 28px;
      width: 100%;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #444444;
    }
  }


}
