
.management-lesson-root-bg{
  min-height:calc(100vh - 106px - 40px);
  background-color: #FFFFFF;
  border-radius: 18px;
  overflow: hidden;
  .header-bar{
    margin-top: 15px;
    display: flex;
    height: 52px;
    border-radius: 5px;
    background-color: #FFFFFF;
    .item{
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title{
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        color:#999999;
      }
      .select{
        color:#54C3D4;
      }
      .bottom-line{
        width: 100%;
        height: 3px;
        background-color: #54C3D4;
      }
    }


  }
  .course-list-root{
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    //border-radius: 18px;
    //overflow: hidden;
    .course-list-row{
      background-color: #FFFFFF;
      padding: 28px 0px 28px 45px;
      display: flex;
      position: relative;
      .left{
        width: 304px;
        height: 183px;
        //background-color: #FFDC4F;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        .cover{
          width: 100%;
          //height:100%;
        }
        .gray-bg{
          position: absolute;
          width: 100%;
          height:100%;
          background-color: rgba(0,0,0,0.5);
        }
        .play-img{
          position: absolute;
          top: 50%;
          margin-top: -42px;
          width: 84px;
          height:84px;
          cursor: pointer;
        }
      }
      .center{
        margin-left: 24px;
        margin-right: 330px;
        flex: 1;
        //background-color: #54C3D4;
        position: relative;
        .course-name{
          margin-top: 13px;
          color: #444444;
          font-size: 16px;
        }
        .course-time{
          margin-top: 18px;
          color: #666666;
          font-size: 14px;

        }
        .course-title{
          margin-top: 10px;
          color: #666666;
          font-size: 14px;
        }
        .course-content{
          margin-top: 5px;
          color: #999999;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 44px;
          //background-color: #54C3D4;
          position: relative;
        }
        .courseware{
          position:absolute;
          bottom: -3px;
          right: 0px;
          color: #54C3D4;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .go-course{
        bottom:28px;
        right: 45px;
        position: absolute;
        border-radius: 16px;
        height: 32px;
        width: 98px;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
      .student-work{
        position: absolute;
        bottom:28px;
        right: 165px;
        color: #54C3D4;
        font-size: 14px;
        height: 32px;
        line-height: 30px;
        width: 98px;
        border-radius: 16px;
        border: 1px solid #54C3D4;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
      .student-leave-message{
        position: absolute;
        bottom:28px;
        right: 45px;
        color: #54C3D4;
        font-size: 14px;
        height: 32px;
        line-height: 30px;
        width: 98px;
        border-radius: 16px;
        border: 1px solid #54C3D4;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
      }
      .uncheckCount{
        position: absolute;
        bottom:51px;
        right: 162px;
        padding-right: 4px;
        padding-left: 4px;
        //width: 16px;
        height: 16px;
        min-width: 16px;
        text-align: center;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
        background-color: #F86E6E;
      }
      .message-count{
        position: absolute;
        bottom:51px;
        right: 42px;
        padding-right: 4px;
        padding-left: 4px;
        //width: 16px;
        height: 16px;
        min-width: 16px;
        text-align: center;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
        background-color: #F86E6E;
      }
      .stay-open-title{
        position: absolute;
        bottom:26px;
        right:45px;
        color:#999999;
        font-size: 16px;
      }
      .stay-open-img{
        position: absolute;
        bottom:28px;
        right:99px;
        width: 19px;
        height: 19px;
      }
    }
    .bottom-line{
      width: 100%;
      border-bottom: 1px solid #EDEDED;
    }
    .show-background {
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .show-video-content {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
      }

    }
  }
  .student-list-root{
    //background-color: #F86E6E;
    padding: 22px 45px 22px 45px;
    .student-header-bar{
      display: flex;
      align-items: center;
      background-color: #F4F4F4;
      height: 59px;
      color: #444444;
      font-size: 14px;
      font-weight: bold;
      .student-header-number{
        flex: 1;
        text-align: center;
      }
      .student-header-name{
        flex: 2.5;
        text-align: center;
      }
      .student-header-phone{
        flex: 1;
        text-align: center;
      }
    }
    .student-row{
      display: flex;
      align-items: center;
      background-color: #FFFFFF;
      height: 51px;
      color: #666666;
      font-size: 14px;
      .student-number{
        flex: 1;
        text-align: center;
      }
      .student-name{
        flex: 2.5;
        //text-align: center;
        display: flex;
        //background-color: #F86E6E;
        align-items: center;
        .img{
          margin-left: 295px;
          width: 35px;
          height: 35px;
          border-radius: 35px;
        }
        .name{
          margin-left: 10px;
        }
      }
      .student-phone{
        flex: 1;
        text-align: center;
      }
    }
    .student-row-select{
      background-color:rgba(84, 195, 212, 0.1);
    }

  }
}

