
body{
  //background-color: rgba(241, 248, 249, 0.73) !important;
}
.content{
  margin:0px auto;
  width:1280px;
  background-color: #ffffff;
}
.user-lazy-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout{
  background: url(static/img/ic-big-bg.png) top repeat;
  background-size: 100% auto;
}
